---
import type { NavigationLink } from "src/types";

interface Props {
  links: Array<NavigationLink>;
}

const { links } = Astro.props;
---

<footer
  class="border-secondary row-auto grid grid-cols-4 gap-x-6 border-t-[1px] pt-32 md:grid-cols-8 lg:grid-cols-12"
>
  <!-- Navigation -->
  <div class="col-span-4 mb-16 px-[5vw] md:mb-0 lg:col-span-6">
    <h4 class="mb-4 uppercase tracking-[0.08em]">Go To</h4>
    <ul class="flex flex-col">
      {
        links.map((nav, i) => (
          <li class="justify-centers font-display mb-4 flex content-center gap-4">
            <div class="pt-[0.1rem] font-serif italic">({i + 1})</div>
            <a class="text-[2.5rem] leading-[1em]" href={nav.url}>
              <div>{nav.name}</div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="col-span-4 px-[5vw] md:px-0 lg:col-span-6">
    <!-- Social -->
    <div class="mb-16 md:mb-8">
      <h4 class="mb-4 uppercase tracking-[0.08em]">Social</h4>
      <ul class="text-md">
        <li class="mb-4">LinkedIn</li>
        <li class="mb-4">Instagram</li>
        <li>Github</li>
      </ul>
    </div>

    <!-- Location -->
    <div>
      <h4 class="mb-4 uppercase tracking-[0.08em]">Location</h4>
      <p class="text-md">Cirebon, Indonesia</p>
    </div>
  </div>

  <!-- End note -->
  <div
    class="border-secondary col-span-4 mt-16 border-t-[1px] p-4 text-center text-xs md:col-span-8 md:mt-24 lg:col-span-12 lg:mt-32"
  >
    <p class="mb-4">
      Created with 🤍 using Astro, Tailwind, and deployed by Vercel
    </p>
    <p>©2024 FAISAL MUHAMMAD – All rights reserved</p>
  </div>
</footer>
