<div
  class="-mt-[72px] grid h-screen w-full grid-cols-4 gap-6 px-[5vw] md:grid-cols-8 lg:grid-cols-12"
>
  <p
    class="col-span-5 self-center text-center text-sm md:col-start-2 md:col-end-8 md:text-md lg:col-start-3 lg:col-end-11 lg:text-lg"
  >
    Faisal Muhammad had successfully wrote 90+ fundraising campaigns that
    collectively raised over Rp1.800.000.000+ as a Freelance Content Writer for
    Insan Bumi Mandiri Foundation.
  </p>
</div>
