<div
  class="w-full h-screen grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-6 -mt-[72px] px-[5vw]"
>
  <p
    class="text-sm md:text-md lg:text-lg text-center col-span-5 md:col-start-2 md:col-end-8 lg:col-start-3 lg:col-end-11 self-center"
  >
    Faisal Muhammad had successfully wrote 90+ fundraising campaigns that
    collectively raised over Rp1.800.000.000+ as a Freelance Content Writer for
    Insan Bumi Mandiri Foundation.
  </p>
</div>
