---
import BaseLayout from "@layouts/BaseLayout.astro";
import placeholderImg from "../../assets/placeholder-img.jpg";

const works = [
  {
    type: "Article",
    url: "/article",
  },
  {
    type: "Fundraising Campaign",
    url: "/fundraising-campaign",
  },
  {
    type: "Press Release",
    url: "/press-release",
  },
  {
    type: "Social Media Content",
    url: "/social-media-content",
  },
];
---

<BaseLayout title="Work">
  <div class="mb-32 mt-32 md:mb-48 md:mt-48 lg:mb-64 lg:mt-64">
    <h1
      class="mb-16 px-[5vw] text-center text-3xl font-bold md:mb-24 md:text-4xl lg:text-5xl"
    >
      Work
    </h1>
    <ul class="border-secondary border-t-[1px] px-[5vw] pt-24 md:pt-32">
      {
        works.map((work) => (
          <li class="mb-24 last:mb-0">
            <a
              href={`/work${work.url}`}
              class="relative mb-16 last:mb-0 md:mb-24 lg:col-span-6 lg:mb-0"
            >
              <img
                src={placeholderImg.src}
                alt={work.type}
                class="h-[287px] w-full object-cover brightness-50 md:h-[500px] lg:h-[544px]"
              />
              <div class="text-invert absolute left-1/2 top-1/2 z-10 m-0 w-full -translate-x-1/2 -translate-y-1/2 px-[5vw] text-center">
                <p class="text-sm uppercase tracking-[0.08em] md:text-md lg:text-lg">
                  work
                </p>
                <h3 class="font-serif text-xl font-light italic md:text-3xl lg:text-4xl">
                  {work.type}
                </h3>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
