---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Work">
  <h1>Selected Work</h1>
  <a href="/work/article">Article</a>
  <a href="/work/fundraising-campaign">Fundraising Campaign</a>
  <a href="/work/press-release">Press Release</a>
  <a href="/work/social-media-content">Social Media Content</a>
</BaseLayout>
